<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PayrollConnString" 
         providerName="System.Data.SqlClient"
         connectionString="Data Source=cowboys.capstone.local\SQL2K12;Initial Catalog=Payroll_Temp_Pinnacle;User ID=jjekic;Password=W3lcome15" />
    <add name="CoupaConnString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=172.31.2.192\SQL2K12;Initial Catalog=HISRECAPTEST1SQL1;User ID=jjekic;Password=W3lcome15" />    
    <add name="ReportsConnString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=PRODSQL2k12.capstone.local,11436;Initial Catalog=Central_Reporting;User ID=jjekic;Password=W3lcome15" />
    <add name="NewConnString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=PRODSQL2k12.capstone.local,11436;Initial Catalog=ClientDataFeed;User ID=jjekic;Password=W3lcome15" />    
    <add name="AdventureWorks"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=BOJANA-PC\SQL2014;Initial Catalog=AdventureWorks2014;User ID=janko;Password=J@nko4.56" />
    <add name="TestDB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=BOJANA-PC\SQL2014;Initial Catalog=TestDB;User ID=janko;Password=J@nko4.56" />  
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>